{% macro get_lang() %}
  {% set path = section.path | default(value=page.path) %}
  {% if path is containing("sv") %}
    {{ "sv" }}
  {% else %}
    {{ "en" }}
  {% endif %}
{% endmacro get_lang %}

{% macro t(key) %}
  {% set path = section.path | default(value=page.path) %}
  {% set current_lang = "en" %}
  {% if path is containing("sv") %}
    {% set current_lang = "sv" %}
  {% endif %}
  {% set trans = load_data(path="i18n/" ~ current_lang ~ ".toml") %}
  {% set value = trans %}
  {% if key == "index.about_us" %}
    {% set value = trans.index.about_us %}
  {% elif key == "nav.team" %}
    {% set value = trans.nav.team %}
  {% elif key == "nav.projects" %}
    {% set value = trans.nav.projects %}
  {% elif key == "nav.timeline" %}
    {% set value = trans.nav.timeline %}
  {% elif key == "nav.software" %}
    {% set value = trans.nav.software %}
  {% elif key == "footer.copyright" %}
    {% set value = trans.footer.copyright %}
  {% elif key == "footer.using_theme" %}
    {% set value = trans.footer.using_theme %}
  {% elif key == "footer.theme_by" %}
    {% set value = trans.footer.theme_by %}
  {% elif key == "common.present" %}
    {% set value = trans.common.present %}
  {% elif key == "common.website" %}
    {% set value = trans.common.website %}
  {% elif key == "common.code" %}
    {% set value = trans.common.code %}
  {% elif key == "common.video" %}
    {% set value = trans.common.video %}
  {% elif key == "common.source" %}
    {% set value = trans.common.source %}
  {% elif key == "common.documentation" %}
    {% set value = trans.common.documentation %}
  {% elif key == "common.links" %}
    {% set value = trans.common.links %}
  {% elif key == "common.profiles" %}
    {% set value = trans.common.profiles %}
  {% elif key == "page.project_period" %}
    {% set value = trans.page.project_period %}
  {% elif key == "page.position" %}
    {% set value = trans.page.position %}
  {% elif key == "page.people_involved" %}
    {% set value = trans.page.people_involved %}
  {% elif key == "page.projects" %}
    {% set value = trans.page.projects %}
  {% elif key == "page.links" %}
    {% set value = trans.page.links %}
  {% elif key == "projects.ongoing" %}
    {% set value = trans.projects.ongoing %}
  {% elif key == "projects.completed" %}
    {% set value = trans.projects.completed %}
  {% else %}
    {% set value = key %}
  {% endif %}
  {{ value }}
{% endmacro t %}

{% macro url_localized(path) %}
  {% set current_path = section.path | default(value=page.path) %}
  {% if current_path is containing("sv") %}
    /sv{{ path }}
  {% else %}
    {{ path }}
  {% endif %}
{% endmacro url_localized %}

{% macro get_page_by_slug(slug) %}
  {% set current_path = section.path | default(value=page.path) %}
  {% if current_path is containing("sv") %}
    {{ get_page(path="sv/" ~ slug ~ ".md") }}
  {% else %}
    {{ get_page(path=slug ~ ".md") }}
  {% endif %}
{% endmacro get_page_by_slug %}
